main {
		background: #fbfbfb url('../../assets/img/iv/hero-bg.png') no-repeat;
		margin-top: 0px;
		padding-top: 20px;
		padding-bottom: 60px;
		.hero {
			padding: 0px 50px;
			width: 300px;
			height: 220px;
			h1 {
			font-weight: 200;
			font-size:2.5em;
			}
			p {
			width:250px;
			font-size: 1.25em;
			margin: 0px;
			padding:0px;
			}
		}		
		.form-inputs {
			display: inline-flex;
		}
		.formL {
		    max-width: 520px;
			margin: 0px 0px 0px 45px;
			}
			.blocktext {
				margin-bottom:30px;
			}
		.pushR {
			float: right;
		}
		
		.gmap{
			float:right;
			width: 282px;
			margin-right: 28px;
			.teal {
				font-size: 1.3em;
				font-weight:400;
			}
		}
		.googleMap{
			/*border:1px solid lightgrey;*/
			margin-top:25px;
			p {
			padding-top:30px;
			font-size:0.85em;
			line-height:1.5em;
			}
		}
}




@media (max-width: 440px) {
			
		main {
			background: url('../../assets/img/iv/hero-bg-mobile.png') center space #fff;
			padding-bottom: 0px;
		.hero {
			padding: 0px 50px;
			width: 300px;
			height: 145px;
			h1 {
			font-weight: 200;
			font-size:2em;
			}
			p {
			width:165px;
			font-size: 1em;
			margin: 0px;
			padding:0px;
			}
		}		
		.form-inputs {
			display: flex;
			p {
			display:none;
		}
		}
		.formL {
		    width: 440px;
		    background: #fff;
			margin:0px;
			padding:20px
			}
			.blocktext {
				margin-bottom:30px;
				font-size:1.2rem;
			}
		.pushR {
			float:none;
			display: flex;
			justify-content: flex-end;
			margin-top:20px;
		}
		
		.gmap{
			padding:25px 20px;
			width: 100%;
			float:none;
			margin-right:0px;
			background: #fff;
			.teal {
				font-size: 1.3em;
				font-weight:400;
			}
		}
		.googleMap{
			/*border:1px solid lightgrey;*/
			margin-top:25px;
			display: flex;
    	 	justify-content: center;
    	 	p {
			display:none;
			}
		}
	}
}




