/*main.main {
	margin:0;
	height:220px;
	background-image: url('../../assets/img/iv/hero-bg.png');
	h1{
		margin:0;
		font-weight:200;
		padding:30px 0px 0px 50px;
		font-size:35px;
	}
	p{
		font-size:1.1em;
		width:269px;
		padding-left:50px;
	}
	section{
		background: #fbfbfb;
		margin-top:75px;
		height:100px;
		border:1px solid green;
	}

}
*/

main {
		background: #fbfbfb url('../../assets/img/iv/hero-bg.png') no-repeat;
		margin-top:0px;
		padding-top:50px;
		padding-bottom:60px;
		.hero {
			padding: 10px 50px;
			width:300px;
			height:220px;
		}
		h1 {
			font-weight: 200;
		}
		.form-inputs {
			display: inline-flex;
		}
		.formL {
				    max-width: 520px;
    				margin: 0px 0px 0px 45px;
			}
			.blocktext {
				margin-bottom:30px;
			}
		.pushR {
			float: right;
		}
		.radioR input {
			margin-left:20px;
		}
		.colf textarea, .colf > select{
			display:block;
			width: 520px;
			height:40px;
			background: #fff;
		}
		.colf:after{
			display:block;
			content:'';
			clear:both;
			margin-bottom:30px;
		}
		.col1 {
			display: inline-block;
		}
		.col1 input, select {
			width: 250px;
			height:40px;
			border:1px solid #e8e8e8;
			border-radius:3;
			background: #fff;
		}
		.col1:after{
			display:block;
			content:'';
			clear:both;
			margin-bottom:30px;
		}
		.col2 {
			float:right;
		}
		.col2 input, select{
			width: 250px;
			height:40px;
			border:1px solid #e8e8e8;
			border-radius:3;
		}
		.col2:after{
			display:block;
			content:'';
			clear:both;
			margin-bottom:30px;
		}
		.gmap{
			float:right;
			width: 282px;
			margin-right: 28px;
		}
		.googleMap{
			border:1px solid lightgrey;
		}
		p {
			width:520px;
			padding-top:30px;
			font-size:0.85em;
			line-height:1.5em;
		}
		input[placeholder] { 
			color: grey;
			padding-left: 10px;
		}
		input, textarea{
			border:1px solid lightgrey;
		}
		input[type="radio"] {
			margin-right:3px;
		}
		label:first-of-type {
			margin-right:25px;
		}

}














