.nav {
	height:36px;
	background:$teal;
	width:100%;

  ul {
    display: flex;
    justify-content: space-between;
  	margin:0;
    list-style: none;
    text-align:center;
    padding: 8px 27px;
    }

    li {
      justify-content: space-between;
    }

      a {
		text-decoration: none;
		font-size:1.1em;
		color:#fff;
		text-transform:uppercase;
    }
}

@media (max-width: 440px) {
  .nav {
    display:none;
  }
  #mobile-nav {
  display:inline-block;
  float:right;
  border:1px solid green;
  }
  .box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
  }
  .box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
  }

}
