button {
	border:none;
	color: #fefefe;
	border-radius: $border-radius;
	text-transform: uppercase;
}


.teal-btn {
  background: $teal;
  width: 135px;
  height: 30px;
  margin-right: 15px;
}

.grey-btn {
	background: $grey;
	width: 180px;
	height: 30px;
}
