
input[type="text"], textarea, select {
	border: 1px solid #e8e8e8;
	width: 250px;
	height: 40px;
	border-radius:3px;
	background: #fff;
}
input[type="radio"] {
	margin-right: 3px;
	margin-left: 20px;
	border: 1px solid $teal;
}
label:first-of-type {
	margin-right: 15px;
}
input[placeholder], textarea[placeholder], select { 
	color: gray;
	padding-left: 10px;
}


.col1 {
	display: inline-block;
	&:after {
	display: block;
	content: '';
	clear: both;
	margin-bottom: 30px;
	}
}

.colf {
	textarea {
	width: 520px;
	height: 75px;
	}
	select {
	width: 520px;	
	}
	&:after{
	display: block;
	content: '';
	clear: both;
	margin-bottom: 30px;
	}
}

.col2 {
	float:right;
	&:after {
	display: block;
	content: '';
	clear:both;
	margin-bottom: 30px;
	}
}







@media (max-width: 440px) {
	.col1 {
	display:block;
	.teal {
		display:flex;
		justify-content:center;
		font-size:1.2rem;
	}
	.teal {
		padding-left:10px;
		}
	}
	.col2 {
	display:block;
	}
	.colf {
		textarea {
			width: 400px;
			height: 75px;
			}
		select {
			width: 400px;
		}
	}
	input[type="text"], textarea, select {
	border: 1px solid #e8e8e8;
	width: 400px;
	}
}





